<html>
<head>
    <title>{{$title}} Default {{/title}}</title>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
<ul class="navbar margin-top-0">
    <li><a href="/">Home</a></li>
    {{#auth}}
        <li><a href="/auth/new">New</a></li>
    {{/auth}}
    {{#auth}}
        <li>{{#capitalize}}{{user}}{{/capitalize}} (<a href="/auth/logout">Logout</a>)</li>
    {{/auth}}
    {{^auth}}
        <li><a href="/login">Login</a></li>
    {{/auth}}
</ul>
{{$content}}
    default content
{{/content}}
</body>
</html>