{{<base}}
{{$title}} Error {{/title}}
{{$content}}
<div class="til">
    <h2 style="color: red;">:( - Error.</h2>
    <div>
        {{error}}
    </div>
    <div class="margin-top-10">
        <a href="{{back_link}}">back</a>
    </div>
</div>
{{/content}}
{{/base}}