{{<base}}
{{$title}} Login {{/title}}

{{$content}}
<div class="til">
    <form method="post">
        <div class="login-field">
            <label for="user">User: </label>
            <input type="text" name="user">
        </div>
        <div class="login-field">
            <label for="pwd">Password: </label>
            <input type="password" name="pwd">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</div>
{{/content}}

{{/base}}