<html>
    <body>
        <div class="new">
            <form method="post">
                <label for="content">Til: </label><br/>
                <textarea name="content" cols="30" rows="10"></textarea><br/>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>