{{<base}}
{{$title}} New til {{/title}}
{{$content}}
        <div class="til">
            <form method="post">
                <label for="content"><b>Til:</b></label><br/>
                <textarea name="content" rows="15"></textarea><br/>
                <input type="submit" value="Submit">
            </form>
        </div>
{{/content}}
{{/base}}