{{<base}}

{{$title}} Thomas tils {{/title}}

{{$content}}
<h3 class="title">Thomas Tils</h3>
    {{#tils}}
        <div class="til">
            <p>
                <span><a href="/til/{{id}}">#{{id}}</a></span>
                -
                <b>
                    {{#format}}
                        {{timestamp}}
                    {{/format}}
                </b>
            </p>
            <p>{{content}}</p>
        </div>
    {{/tils}}
    {{^tils}}
        <div class="til">
            No tils available!
        </div>
    {{/tils}}
{{/content}}

{{/base}}