{{<base}}
    {{$title}} Til {{til.id}} {{/title}}
{{$content}}
<h3 class="title">Til {{til.id}}</h3>
<div class="til">
        <p>
            <b>
                {{#format}}
                    {{til.timestamp}}
                {{/format}}
            </b>
        </p>
        <p>{{til.content}}</p>
        <div>
            <a href="/delete/{{til.id}}">delete</a>
        </div>
</div>
{{/content}}
{{/base}}